.form{
    width: 320px;
    display: block;
    margin: 6% auto 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
}
#submit{
    margin-top: 8px;
    padding: 8px 14px;
    background-color: rgba(7, 139, 149, 0.8);
    border-radius: 10px;
    font-weight: bold;
}
label{
    font-size: 16px;
    font-family: "Klavika Regular", sans-serif;
    color: rgba(7, 139, 149, 0.8);
}
input{
    width: 100%;
    padding: 6px 8px;
    margin: 6px 0 10px 0;
    box-sizing: border-box;
}

#res{
    margin-top: 12px;
    font-weight: 600;
    color:aquamarine;
    font-size: 18px;
}

