.main {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex: 1;
}

.logo {
    margin-top: 40px;   
    margin-left: 10px;

}

#subscript {
    font-size: 24px;
    max-width: 400px;
    font-family:"Klavika Regular", sans-serif
}
body{
    background-color: rgb(240, 242, 245);
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}


#name{
    color: rgb(1, 39, 255);
    font-family:"Klavika Bold", sans-serif;
    font-size: 70px;
    margin-bottom: 20px;
}


.login-form{
    margin-top: 100px;
    text-align: center;
    font-family:"Klavika Regular", sans-serif;
    margin-left: 70px;
}

form{
    background-color: aliceblue;
    display: inline-block;
    text-align: left;
    padding:3px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    font-size: 17px;
    width: 100%;
    
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 20px;
}
input[type=submit] {
    background-color: rgb(1, 39, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
}

#create-acc-btn {
    background-color: rgb(26, 237, 47);
    border-radius: 4px;
    width:60%;
    justify-content: center;
    margin-left: 20%;   
}
#link1{
    text-decoration: none;
    color:rgb(1, 39, 255);
    font-family:"Klavika Regular", sans-serif;
    text-align: center;
    display:block;
    margin-top: 7px;
    margin-bottom: 7px;
}
#link2{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family:"Klavika Regular", sans-serif;
}
#textUnder{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 80px;
    font-family: "Klavika Regular", sans-serif;
}


.site_footer {
    margin-top: 60px;
    padding: 30px 0;
    font-size: 12px;
    color: #737373;
    font-family: "Klavika Regular", sans-serif;
    background-color: white;
}

.footer_inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer_langs,
.footer_links {
    line-height: 1.6;
    word-spacing: 6px;
}

.site_footer hr {
    border: none;
    height: 1px;
    background-color: #dadde1;
    margin: 10px 0;
}

.footer_copy {
    margin-top: 12px;
    font-size: 11px;
}


.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
hr{
    border: 0.5px solid #ccc;
}
