.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

img {
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #4338ca;
}

a {
  display: block;
  margin-top: 10px;
  color: #4f46e5;
  text-decoration: none;
}
